<!DOCTYPE html>
<html>
    <head>
        <title>Listado clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="listadoClientes" class="py-4 my-4 bg-ligth">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{persona.crear}]]</a>

                        <div th:if="${personas != null and !personas.empty}">
                            <table border="1" class="table table-bordered">
                                <thead class="table-info">
                                    
                               
                                <tr>
                                    <th>[[#{persona.nombre}]]</th>
                                    <th>[[#{persona.apellido}]]</th>
                                    <th>[[#{persona.email}]]</th>
                                    <th>[[#{persona.telefono}]]</th>
                                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{persona.editar}]]</th>
                                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{persona.eliminar}]]</th>
                                </tr>
                                 </thead>
                                <tr th:each="persona : ${personas}">
                                    <td th:text="${persona.nombre}">Mostrar Nombre</td>
                                    <td th:text="${persona.apellido}">Mostrar Apellido</td>
                                    <td th:text="${persona.email}">Mostrar Email</td>
                                    <td th:text="${persona.telefono}">Mostrar Teléfono</td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editar/} + ${persona.idPersona}"/>[[#{persona.editar}]]</td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar(idPersona=${persona.idPersona})}"/>[[#{persona.eliminar}]]</td>
                                    <header th:fragment="personaSaldo}"></header>
                                 </tr>
                            </table>
                          
                        </div>
                        <div th:if="${personas == null or personas.empty}">
                            [[#{persona.lista-vacia}]]
                        </div>


                    </div>
                    <!-- th:each="persona,iterator : ${personas}"-->
                    <div 
                        class="col-md-3 offset-md-6">
                        <div th:style="'background-color:red; width:200px; padding:75px;'">
                        <!--    <div th:insert="personaSaldo"></div> -->
                        </div>
                        <div th:style="'background-color:green; width:200px; padding:75px;'">
                        <!--    <div th:insert="personaSaldo"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
